---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="intro">
			<div class="container">
				<h2>Introduction</h2>
				
							<p>My name is Rachel Nacilla. I'm an avid technologist, enthusiastic problem solver and passionate people leader.</p>

							
			
			</div>
		</section>
		<section class="projects">
			<div class="container">
				<h2>My Projects</h2>
				<ul class="projects-list">
					{% for item in site.categories.projects reversed %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<span class="h2">{{ item.project.type }}</span>
								<h3>{{ item.project.title }}</h3>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
		<section class="aboutme">
			<div class="container">
				<h2>About Me</h2>
				<div class="portrait">
					<img src="assets/images/rachelnacilla_portrait.jpeg" alt="portrait of Rachel Nacilla">
				</div>
				
				<p>I am a skilled and enthusiastic technologist who brings over 10 years experience in technology and data analysis gained across a broad range of industries, including Education, Health Care, Public Sector, Financial Services and Marketing.</p>

				<p>I am an excellent communicator and leader, who supports and mentors others to develop their skills and expertise at work.</p>
				
				<P>I am known for excellent outcome orientation, a strategic approach to innovation and finding a creative and robust solution that enhances business objectives.</p>

				<p>Outside of work, I am passionate about creating and listening to music. I'm into <a href="https://vero.co/rachelsnicepics" target="_blank">landscape photography</a>, <a href="https://www.instagram.com/fibreartsbyrach/" target="_blank">fibre arts</a>
					, travelling and playing chess. I'm also a <a href="https://www.behance.net/rachelnacilla" target="_blank">self-taught illustrator.</a></p>

				<p>I am currently based in Wollongong, NSW, Australia.</p>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>