---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="intro">
			<div class="container">
				<h2>Introduction</h2>
				
							<p>My name is Rachel Nacilla. I’m an experienced technologist who enjoys hands-on work and leading meaningful technical outcomes.</p>

							
			
			</div>
		</section>
		<section class="projects">
			<div class="container">
				<h2>My Projects</h2>
				<ul class="projects-list">
					{% for item in site.categories.projects reversed %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<span class="h2">{{ item.project.type }}</span>
								<h3>{{ item.project.title }}</h3>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
		<section class="aboutme">
			<div class="container">
				<h2>About Me</h2>
				<div class="portrait">
					<img src="assets/images/rachel_nacilla_headshot.jpeg" alt="portrait of Rachel Nacilla" style="width:256px; height:auto;">
				</div>
				
				<p>I work with data and technology, with over 10 years experience across education, healthcare, government, finance, marketing and managed technology services. </p>
				
				<p>Most of my work focuses on turning messy, or limited data into something reliable and usable - improving data models, building practical pipelines and helping teams trust their numbers. I'm hands-on with SQL, data modelling, ETL, data quality and analytics, and I often lead technical work while mentoring others along the way.</p>

				<p>I enjoy driving technical initiatives and mentoring others, and I bring hands-on expertise in SQL, data modelling, ETL processes, data quality, and analytics tools to deliver practical, results-focused solutions.</p>

				<p>Outside of work, I am passionate about creating and listening to music. I'm into <a href="https://vero.co/rachelsnicepics" target="_blank">landscape photography</a>, <a href="https://www.instagram.com/fibreartsbyrach/" target="_blank">fibre arts</a> and travelling. I'm also a <a href="https://www.behance.net/rachelnacilla" target="_blank">self-taught illustrator.</a></p>

				<p>I am currently based in Wollongong, NSW, Australia.</p>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>