---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="intro">
			<div class="container">
				<h2>Introduction</h2>
				
							<p>My name is Rachel Nacilla. I use technology to create business solutions and data to help you make the right decisions.</p>

							
			
			</div>
		</section>
		<section class="projects">
			<div class="container">
				<h2>My Projects</h2>
				<ul class="projects-list">
					{% for item in site.categories.projects reversed %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<span class="h2">{{ item.project.type }}</span>
								<h3>{{ item.project.title }}</h3>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
		<section class="aboutme">
			<div class="container">
				<h2>About Me</h2>
				<div class="portrait">
					<img src="assets/images/rachelnacilla_portrait.jpeg" alt="portrait of Rachel Nacilla">
				</div>
				
				<p>I am a skilled and enthusiastic technology professional with extensive experience in using information technology and data to make the right business decisions and improve business processes. I also have a background in biological sciences, statistics and software development. I use python, SQL and Tableau for my data work.</p>

				<p>I have worked in different industries throughout my career, ranging from medical science, marketing, research, government and higher education. I currently work in a technical advisory advisory in the realm of business intelligence, analytics and machine learning/artifical intelligence.</p>

				<p>Outside of work, I am into <a href="https://rachelnacilla.carbonmade.com/" target="_blank">photography</a>, <a href="https://www.instagram.com/fibreartsbyrach/" target="_blank">fibre arts</a>
					, Broadway musicals, travel and chess.</p>

				<p>I am currently based in Wollongong, NSW, Australia.</p>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>